@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/muli');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;                                              
}
                
body {
  margin: 0;
  font-family: 'Muli', sans-serif;                                             
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadow-blue {
  box-shadow: 0px 12px 35px 4px #0000000D;
}

.shadow-white {
  box-shadow: 0px 12px 35px 4px #AB08600D;
}

.grid-div {
  display: grid;
  grid-template-areas: 'one two three four';
  grid-template-columns: 4 1fr;
  grid-gap: 40px;
}


.grid-item:nth-of-type(1) {
  grid-area: one;
  grid-column: 1 / 4;
}

.grid-item:nth-of-type(1) p {
  width: 30%;
}

.box-shadow {
  box-shadow: 10px 10px 50px 3px #275C8D1A;
}